name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: ['14', '16']
    name: Test Node.js v${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: yarn
      - run: yarn run lerna bootstrap
      - run: yarn run lint:ci
      - run: yarn run test:ci
      - uses: codecov/codecov-action@v1
        with:
          directory: coverage
