name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: ['12', '14']
    name: Test Node.js v${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: yarn
      - run: yarn run lerna bootstrap --use-workspaces
      - run: ls -alh node_modules/@orbis-framework
      - run: yarn run lint:ci
      - run: yarn run test:ci
